.x-date-edit{
  display: inline-block;
}
.x-datePicker{
  width: 240px;
  padding: 10px;
  user-select: none;

  .x-datePicker-head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    .x-datePicker-btn{
      span{
        cursor: pointer;
        padding: 0 3px;
        border-radius: 3px;
        transition: all .25s ease;

        &:hover{
          background-color: var(--hover-background-color);
        }
      }
    }
  }

  .x-calendar-foot{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .x-datePicker-group{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;

    .x-datePicker-week{
      list-style: none;
      width: calc(100% / 7);
      color: var(--sub-text-color);
    }

    .x-datePicker-cell{
      list-style: none;
      width: calc(100% / 7);
      position: relative;
      transition: all .2s ease-in;
      padding: 5px;

      .x-datePicker-cell__box{
        border: 1px solid transparent;
        cursor: pointer;
        border-radius: 3px;
        transition: all .2s ease;
          
        &:hover{
          background-color: rgb(var(--primary), .15);
        }
      }
      &.today{
        .x-datePicker-cell__box{
          color: rgb(var(--primary));
          background-color: rgb(var(--primary), .05);
          border: 1px solid rgb(var(--primary));
        }
      }
      &.active{
        .x-datePicker-cell__box{
          border: 1px solid rgb(var(--primary));
          background-color: rgb(var(--primary));
          color: rgb(var(--white));
        }
      }

      &.x-prev-day,&.x-next-day{
        .x-datePicker-cell__box{
          color: var(--sub-text-color);
          opacity: 0.5;
        }
      }

  
    }
  }

}