  .x-from-input {
    position: relative;
    display: inline-block;

    &.x-input-icon-before {
      .x-input {
        padding-left: 25px;
      }

      .x-before {
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(var(--line-color));
        position: absolute;
      }
    }

    &.x-input-icon-after {
      .x-input {
        padding-right: 25px;
      }

      .x-after {
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(var(--line-color));
        position: absolute;
      }
    }

    .x-textarea {
      padding-bottom: 2.3em;
    }

    .x-textarea-maxlength {
      position: absolute;
      left: 10px;
      bottom: 10px;
      font-size: 12px;
      color: rgb(var(--line-color));
    }

  }

  .x-input,
  .x-textarea {
    padding: 7px 10px;
    border: 1px solid rgb(var(--line-color));
    border-radius: 4px;
    font-size: 12px;
    transition-property: border-color, box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    color: var(--text);

    &:disabled {
      cursor: no-drop;
      background: #efefef;
      color: rgb(var(--text), .3);

      &:hover {
        border-color: rgb(var(--line-color));
      }
    }

    &:hover {
      border-color: rgb(var(--primary));
    }

    &:focus,
    &.is-focus {
      border-color: rgb(var(--primary));
      box-shadow: 0 0 0 2px rgb(var(--primary), .3);

      &::placeholder {
        color: rgb(var(--line-color), .4);
      }
    }

    &.is-blur {
      border-color: rgb(var(--line-color));
      box-shadow: none;

      &::placeholder {
        color: rgb(var(--line-color));
      }
    }

    &.x-input-lg{
      padding: 12px 30px 12px 15px;
      font-size: 14px;
    }
  
    &.x-input-sm{
      padding: 4px 6px;
      font-size: 12px;
    }

    &::placeholder {
      color: rgb(var(--line-color));
    }
  }