.x-notice-wrap{
  position: fixed;
  z-index: 1000;
  top: 24px;
  right: 40px;
  bottom: auto;

  .x-notice-content-rect{
    line-height: 1.5;
    padding: 8px;
    width: 360px;
    overflow: hidden;

    .x-notice-bar{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e8e8e8;

      i{
        background-color: #b7b7b7;
        display: block;
        height: inherit;
        width: 0;
        transition: width .3s ease;
      }

      &.info{
        background-color: fade(@info, 20%);
        i{
          background-color: @info;
        }
      }
      &.success{
        background-color: fade(@success, 20%);
        i{
          background-color: @success;
        }
      }
      &.error{
        background-color: fade(@danger, 20%);
        i{
          background-color: @danger;
        }
      }
      &.warning{
        background-color: fade(@warning, 20%);
        i{
          background-color: @warning;
        }
      }
    }

    .x-notice-content{
      background: #fff;
      box-shadow: 0 4px 10px fade(#000, 10%);
      border-radius: 4px;
      padding: 10px 24px;
      position: relative;
    }

    .x-notice-icon{
      position: absolute;
      left: 20px;
      top: 7px;
      font-size: 18px;

      &+.x-notice-title{
        margin-left: 30px;

        &+.x-notice-description{
          margin-left: 30px;
        }
      }
    }

    .x-notice-title{
      font-size: 14px;
      color: #333;
    }

    .x-notice-description{
      font-size: 12px;
      color: #666;
      margin-top: 5px;
      line-height: 20px;
    }

    .x-notice-close{
      position: absolute;
      right: 10px;
      top: 8px;
      color: #999;
      cursor: pointer;
      transition: color .2s;
      font-size: 14px;

      &:hover{
        color: #666;
        text-shadow: 0 0 12px fade(#000, 15%);
      }
    }
  }
}
