:root, [data-color-mode=light]{
  --default: 227, 234, 239; //#e3eaef
  --success: 10, 207, 151; //#0acf97
  --primary: 45, 123, 244;//#2d7bf4;
  --danger: 241, 85, 108; //#f1556c
  --info: 78, 183, 235; // #4eb7eb
  --warning: 249, 188, 11; //#f9bc0b;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  
  --mix-color: 68, 68, 68;
  --main-background-color: #ffffff;
  --sub-background-color: #fafafa;
  --hover-background-color: rgb(var(--black), .1);
  --sub-text-color: #98a6ad;
  --main-text-color: rgb(var(--black));
  --line-color: rgb(var(--default));
  --shadow: rgb(var(--black), 0.1);
  --disabled: #f7f7fa;
  --scroll: rgb(var(--black), 0.3);
}

[data-color-mode=dark]{
  --default: 227, 234, 239; //#e3eaef
  --success: 10, 207, 151; //#0acf97
  --primary: 45, 123, 244;//#2d7bf4;
  --danger: 241, 85, 108; //#f1556c
  --info: 78, 183, 235; // #4eb7eb
  --warning: 249, 188, 11; //#f9bc0b;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  
  --mix-color: 255, 255, 255;
  --main-background-color: #1a1d24;
  --sub-background-color: #131415;
  --hover-background-color: rgb(var(--white), .1);
  --sub-text-color: #98a6ad;
  --main-text-color: rgb(var(--white));
  --line-color: rgb(var(--default), .3);
  --shadow: rgb(var(--black), 0.4);
  --disabled: #2a2b2b;
  --scroll: rgb(var(--white), 0.7);
}

@import "icon";
@import "button";
@import "grid";
@import "input";
@import "checkbox";
@import "select";
@import "message";
@import "notice";
@import "switch";
@import "transition";
@import "modal";
@import "tooltip";
@import "slider";
@import "calendar";
@import "datePicker";
@import "carousel";
@import "tabs";
@import "badge";
@import "scroll";
@import "radio";
@import "menu";

*, ::after, ::before {
  box-sizing: border-box;
}

html {
box-sizing: border-box;
-ms-overflow-style: scrollbar;
}

html{
font-family: Lato,sans-serif;
font-size: 12px;
line-height: 1.5;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
text-size-adjust: 100%;
}

.info{
  color: rgb(var(--info));
}

.error{
  color: rgb(var(--danger));
}

.success{
  color: rgb(var(--success));
}

.warning{
  color: rgb(var(--warning));
}


i.x-arrow{
  position: relative;
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);

  &::after,&::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 5px;
    background-color: var(--line-color);
    left: 4px;
    top: 7px;
    transform-origin: top center;
    transition: all .2s ease
  }

  &::after{
    transform: rotate(135deg);
  }
  &::before{
    transform: rotate(-135deg);
  }

  &.is-active{
    &::after{
      top: 4px;
      transform: rotate(45deg);
    }
    &::before{
      top: 4px;
      transform: rotate(-45deg);
    }
  }
}

.x-mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 1000;
}

.x-trigger{
  z-index: 2;
  position: absolute;
  background-color: var(--main-background-color);
  border-radius: 4px;
  box-shadow: 0 0 8px var(--shadow);
  overflow: hidden;
  min-width: 100%;
  margin-top: 3px;
}