.x-select {
  position: relative;
  display: inline-block;

  .x-select-input{
    position: relative;
    cursor: pointer;

    &.x-select-input-disabled{
      cursor: not-allowed;

      .x-input{
        cursor: not-allowed;
      }
    }

    &>.x-input{
      cursor: pointer;
    }

    &>i{
      right: 10px;
    }

    .x-clearable{
      position: absolute;
      z-index: 1;
      height: 100%;
      top: 0;
      width: 30px;
      align-items: center;
      justify-content: center;
      display: flex;

      i{
        transition: all 0.25s ease-in-out;
        color: darken(@border, 20%);
      }

      right: 0;
      cursor: pointer;

      &:hover{
        i{
          color: darken(@border, 60%);
        }
      }
    }

    .x-select-icon{
      position: absolute;
      width: 30px;
      right: 0;
      top: 0;
      bottom: 0;

      i.x-arrow{
        right: 10px;
      }
    }

    .x-select-array{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 30px;
      padding-left: 8px;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      pointer-events: none;

      &>span{
        padding: 2px 8px;
        background-color: @border;
        border-radius: 4px;
      }

      .x-select-array-content{
        max-width: 70%;
        padding: 2px 8px;
        background-color: @border;
        border-radius: 4px;
        margin-right: 5px;
        display: flex;
        pointer-events: all;

        &>span {
          float: left;
        }
        .x-con-array{
          overflow: hidden;
          flex:1;
          display: block;
          white-space:nowrap;flex:1;
          text-overflow: ellipsis;
        }
        .x-clearable-array{
          width: 14px;
          width: auto;
          display: block;
          cursor: pointer;
        }
      }
    }


  }
}



  // 单选模式
.x-select-option{
    z-index: 2;
    position: absolute;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 0 8px fade(#000, 10%);
    overflow: hidden;
    min-width: 100%;
    margin-top: 3px;

    .x-option{
      white-space: nowrap;
      cursor: pointer;
      padding-left: 25px;
      background-color: #fff;
      padding: 0 12px;
      height: 30px;
      line-height: 30px;
      overflow: hidden;

      &:hover{
        background-color: fade(@primary, 10%)
      }

      &.is-checked{
        color: @primary;
        background-color: fade(@border, 10%);
        font-weight: bold;
      }

      // 禁用状态
      &.is-disabled{
        cursor: no-drop;
        color: fade(@text, 40%);
        &:hover{
          background-color: initial;
        }
      }
    }
    
    .x-select-item{
      max-height: 220px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        background: rgba(144, 147, 153, 0.5);
      }
      &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        background: transparent;
      }
    }

    .x-select-search{
      padding: 10px;
    }
  }

