.x-slider{
  height: 6px;
  background-color: var(--hover-background-color);
  border-radius: 2em;
  cursor: pointer;
  position: relative;

  .x-slider-dot{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0 0 2px var(--shadow);
    background-color: rgb(var(--white));
    border: 2px solid rgb(var(--primary));
    margin-top: -3px;
  }
}