.x-switch {
  min-width: 44px;
  height: 22px;
  position: relative;
  border: none;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-align: right;
  transition: all .3s ease;
  color: rgb(var(--white));
  font-size: 12px;
  padding-left: 25px;
  padding-right: 10px;
  background-color: var(--hover-background-color);

  &::before{
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 20px;
    overflow: hidden;
    background-color: transparent;
    border: 3px solid #FFF;
    transform: translateX(0);
    transition: .3s;
  }

  &.x-switch-disabled{
    opacity: 0.4;
    cursor: not-allowed;
    // background-color: #efefef;

    // &::before{
    //   border-color: #ccc;
    // }
  }

  &.x-switch-checked{
    text-align: left;
    padding-right: 25px;
    padding-left: 10px;

    &.x-switch-primary{
      background-color: rgb(var(--primary));
    }
    &.x-switch-info{
      background-color: rgb(var(--info));
    }
    &.x-switch-danger{
      background-color: rgb(var(--danger));
    }
    &.x-switch-success{
      background-color: rgb(var(--success));
    }
    &.x-switch-warning{
      background-color: rgb(var(--warning));
    }

    &.x-switch-disabled{
      &::before{
        border-color: #fff;
        background-color: #FFF;
      }
    }

    &::before{
      left: 100%;
      margin-left: -3px;
      background-color: #FFF;
      transform: translateX(-100%)
    }

  }

  &:active::before{
    width: 21px;
  }


}

