.fade-up-enter-active,.fade-up-leave-active{
  transition: all .2s ease;
  transform-origin: center top;
}
.fade-up-enter,.fade-up-leave-to{
  opacity: 0;
  transform: scaleY(0);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}


.slideX-fade-enter-active,
.slideX-fade-leave-active{
  transition: all .5s ease;
}
.slideX-fade-enter-from,
.slideX-fade-leave-to{
  opacity: 0;
  transform: translateX(-100%);
}


.slideY-fade-enter-active,
.slideY-fade-leave-active{
  transition: all .2s ease;
}
.slideY-fade-enter-from,
.slideY-fade-leave-to{
  opacity: 0;
  transform: translateY(-100%);
}



.notice-enter-active,
.notice-leave-active{
  transition: all .2s ease;
}

.notice-enter-from{
  opacity: 0;
  transform: translateX(20%);
}
.notice-enter-to{
  transform: translateX(0);
}
