.demo-block {
    margin-top: 124px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;

    .background{
        width: 110%;
        height: 70%;
        position: absolute;
        display: block;
        left: 50%;
        margin-left: -55%;
        transform-origin: right;
        transform: rotate(1deg);
        top: 10%;
        border-radius: 30px;
        z-index: -1;
        opacity: 0.5;
    }

    .source {
        width: 85%;
        margin: 0 auto;
        box-shadow: 0 10px 20px fade(#000, 10%);

        .browser{
            width: 100%;

            .browser-bar{
                height: 50px;
                background-color: #f6f7f9;
                border: 1px solid #e8e8e8;
                border-bottom: 0;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                overflow: hidden;
                display: flex;
                align-items: center;
                padding: 0 16px;

                .dot{
                    display: flex;

                    i{
                        background-color: #d1d5db;
                        width: 12px;
                        height: 12px;
                        display: block;
                        border-radius: 100%;
                        margin-right: 5px;
                    }
                }

                .address{
                    flex: 1;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span{
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 14px;
                        background: #ffffff;
                        border: 1px solid #ebeced;
                        height: 34px;
                        display: block;
                        width: 500px;
                        border-radius: 3px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #9e9e9e;
                    }
                }
            }

            .browser-body{
                border: 1px solid #e5e7eb;
                background-color: #ffffff;
                min-height: 150px;
            }
        }
    }

    .description {
        box-sizing: border-box;
        border-radius: 3px;
        font-size: 18px;
        color: #666;
        word-break: break-word;
        margin-bottom: 10px;

        p {
            margin: 0;
            line-height: 26px;

            code{
                margin: 0 3px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }

    .highlight{
        border-radius: 15px;
        overflow: hidden;

        pre.hljs-pre{
            border-radius: 0;
            margin-bottom: 0;
            margin-top: 0;
        }

        .hljs-footbar {
            border-top: 1px solid #1e3f4e;

            code.hljs{
                padding-left: 20px;
                font-size: 12px;
                padding-bottom: 10px;

                .hljs-problems__tips{
                    margin-bottom: 10px;
                    span{
                        background-color: fade(#ffffff, 35%);
                        padding: 0 4px;
                        color: #ffffff;
                        border-radius: 100%;
                    }
                }
                
                .hljs-problems__list{
                    display: flex;
                    svg{
                        color: orange;
                        margin-right: 5px;
                    }
                    .download{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


.hljs-topbar {
    height: 44px;
    background-color: #04293a;
    border-bottom: 1px solid #1e3f4e;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dot {
        padding-left: 20px;
        display: flex;

        i {
            display: block;
            width: 12px;
            height: 12px;
            border: 2px solid transparent;
            border-radius: 100%;
            margin-right: 5px;

            &.red {
                border-color: #ef4444;
            }
            &.yellow {
                border-color: #fbbf24;
            }
            &.green {
                border-color: #4ade80;
            }
        }
    }
}

code.hljs {
    font-family: Menlo, Monaco, Consolas, Courier, monospace;
    line-height: 1.5;
    margin: 0;
    border: none;
    max-height: none;
    border-radius: 0;
    display: block;
    font-size: 14px;
    width: 100%;
    height: auto;
    position: relative;

    padding-left: 65px ;

    &::before {
        content: none;
    }

    .ln-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background: fade(#000000, 20%);
    }

    .ln-num {
        position: relative;
        display: inline-block;
        height: 1em;
        user-select: none;

        &::before {
            position: absolute;
            top: 0;
            right: 30px;
            color: fade(#FFF, 35%);
            font-style: normal;
            font-weight: normal;
            content: attr(data-num);
        }
    }
}