.relax-doc {
  p {
    code {
      background-color: #fff;
      border-radius: 3px;
      padding: 1px 3px;
      font-family: "arial";
      border: 1px solid #eaf0f5;
    }
  }

  h1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;

    &+blockquote {
      margin-bottom: 30px;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;

    &+blockquote {
      margin-bottom: 10px;

    }
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
    color: #98a6ad;
  }

  &>pre{
    background-color: #FFF;
    padding:5px 10px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  

  .demo-source {
    .x-btn {
      margin-right: 8px;
      margin-bottom: 12px;
    }

    .x-switch {
      margin-right: 8px;
      margin-bottom: 12px;
    }

    &>[class*=x-icon] {
      font-size: 22px;
      margin-left: 30px;
    }

      
    &>.x-row {
      margin-bottom: 10px;

      &>[class^="x-col"] {
        div{
          color: #fff;
          text-align: center;
          font-size: 12px;
          height: 30px;
          line-height: 30px;
        }
        
        &:nth-child(odd)>div {
          background: fade(#0acf97, 90%);
        }

        &:nth-child(even)>div {
          background: fade(#0acf97, 60%);
        }
      }
    }

  }

  &>ol,
  &>ul {
    margin-top: 10px;
    margin-bottom: 30px;

    li {
      font-size: 14px;
      line-height: 1.6;
    }
  }

  &>ol {
    padding-left: 20px;

    li {
      list-style-type: disc;
    }
  }

  .components-grid-demo {
    margin-bottom: 30px;
    [class^=x-row] {
      background-color: #FFF;
      background-image: linear-gradient(90deg, #ededed 4.16666667%, transparent 0, transparent 8.33333333%, #ededed 0, #ededed 12.5%, transparent 0, transparent 16.66666667%, #ededed 0, #ededed 20.83333333%, transparent 0, transparent 25%, #ededed 0, #ededed 29.16666667%, transparent 0, transparent 33.33333333%, #ededed 0, #ededed 37.5%, transparent 0, transparent 41.66666667%, #ededed 0, #ededed 45.83333333%, transparent 0, transparent 50%, #ededed 0, #ededed 54.16666667%, transparent 0, transparent 58.33333333%, #ededed 0, #ededed 62.5%, transparent 0, transparent 66.66666667%, #ededed 0, #ededed 70.83333333%, transparent 0, transparent 75%, #ededed 0, #ededed 79.16666667%, transparent 0, transparent 83.33333333%, #ededed 0, #ededed 87.5%, transparent 0, transparent 91.66666667%, #ededed 0, #ededed 95.83333333%, transparent 0);
      margin-bottom: 5px;
    }

    [class*=x-col] {
      color: #fff;
      padding: 20px 0;
      text-align: center;
      font-size: 16px;
    }

    .color1 {
      background: fade(#0acf97, 90%);
    }

    .color2 {
      background: fade(#0acf97, 70%);
    }

    .color3 {
      background: fade(#0acf97, 50%);
    }
  }


  .icon-list {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;

    &>div {
      text-align: center;
      list-style: none;
      height: 100px;
      color: #555;
      -webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out;
      transition: color .3s ease-in-out, background-color .3s ease-in-out;
      position: relative;
      margin: 3px 0;
      border-radius: 4px;
      overflow: hidden;
      padding: 10px 0 0;

      i[class^=x-icon-] {
        border-radius: 100%;
        font-size: 24px;
        margin: 12px 0 16px;
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        will-change: transform;
      }

      .icon-name {
        color: #888;
        display: block;
        text-align: center;
        -webkit-transform: scale(.83);
        -ms-transform: scale(.83);
        transform: scale(.83);
        font-family: Lucida Console, Consolas;
        white-space: nowrap;
      }
    }
  }
}