@import "rest";
@import "highlight";
@import "docs";

html,
body,
#app {
  height: 100%;
  background-color: #f6f9fb;
}

.logo-img {
  position: relative;
  width: 130px;

  &::after {
    content: "RelaxPlus";
    position: absolute;
    left: 40px;
    top: 0;
    line-height: 36px;
    font-size: 36px;
    color: #333;
    font-family: "calibre bold";
  }

  span {
    width: 36px;
    height: 36px;
    display: block;
    background: url('../assets/logo.png');
    background-size: contain;
    position: relative;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col(@index, @type, @num) when (@index > 0) {
  .col(@index - 1, @type, @num);

  .col-@{type}-@{index} {
      grid-column: span @index;
  }
}


@media (min-width: 576px) {
  .col(12, xs, 12);
}

@media (min-width: 768px) {
  .col(12, md, 12);
}


.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding-left: 225px;

  .sidebar-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 225px;
    background: #FFF;

    .menu{
      padding: 0 8px;
      a{
        font-size: 14px;
        display: block;
        color: #333;
        padding: 8px 20px;
        margin: 4px 0;
      }
      a:hover{
        background-color: #eee;
      }
      dl{
        dt{
          color: #999;
          padding: 8px 20px;
          padding-bottom: 8px;
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
}

.content-page {
  min-height: 100%;
  flex: 1;
  overflow: auto;
  padding: 35px;
}



.components-badge-demo .x-badge{
  margin-right: 30px;
  margin-bottom: 12px;
}

.components-select-demo .x-select {
  margin-right: 8px;
  margin-bottom: 12px;
}


.components-grid-demo {

  margin-bottom: 30px;

  [class^=x-row] {
    background-color: #FFF;
    background-image: linear-gradient(90deg, #ededed 4.16666667%, transparent 0, transparent 8.33333333%, #ededed 0, #ededed 12.5%, transparent 0, transparent 16.66666667%, #ededed 0, #ededed 20.83333333%, transparent 0, transparent 25%, #ededed 0, #ededed 29.16666667%, transparent 0, transparent 33.33333333%, #ededed 0, #ededed 37.5%, transparent 0, transparent 41.66666667%, #ededed 0, #ededed 45.83333333%, transparent 0, transparent 50%, #ededed 0, #ededed 54.16666667%, transparent 0, transparent 58.33333333%, #ededed 0, #ededed 62.5%, transparent 0, transparent 66.66666667%, #ededed 0, #ededed 70.83333333%, transparent 0, transparent 75%, #ededed 0, #ededed 79.16666667%, transparent 0, transparent 83.33333333%, #ededed 0, #ededed 87.5%, transparent 0, transparent 91.66666667%, #ededed 0, #ededed 95.83333333%, transparent 0);
    margin-bottom: 5px;
  }

  [class*=x-col] {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
  }

  .blue1 {
    background: fade(#4eb7eb, 90%);
  }

  .blue2 {
    background: fade(#4eb7eb, 70%);
  }

  .blue3 {
    background: fade(#4eb7eb, 50%);
  }
}

.x-row-style {
  .x-row {
    margin-bottom: 10px;

    &>div {
      color: #fff;
      padding: 3px 0;
      text-align: center;
      font-size: 12px;

      &:nth-child(odd) {
        background: fade(#4eb7eb, 90%);
      }

      &:nth-child(even) {
        background: fade(#4eb7eb, 70%);
      }
    }
  }

  &.code-row-bg {
    .x-row {
      background-color: #efefef;
    }
  }

  &.gutter {
    .x-row {
      &>div {
        background: transparent !important;

        &:nth-child(odd) {
          div {
            background: fade(#4eb7eb, 90%);
          }
        }

        &:nth-child(even) {
          div {
            background: fade(#4eb7eb, 70%);
          }
        }
      }
    }
  }
}

.relax-document {
  .document-title {
    font-size: 16px;
    margin-bottom: 6px;
    color: #666;
    margin-bottom: 20px;

    h4 {
      font-weight: normal;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    &.document-api {
      margin-bottom: 20px;
    }

    thead {
      th {
        background-color: #e5eaee;
        padding: 10px;
        color: #666;
        border-bottom: 2px solid #dae1e6
      }
    }

    td {
      padding: 10px;
      background: #FFF;
      border-bottom: 1px solid #e5eaee;


      &:nth-child(3) {
        color: #f81d22;
        width: 15%;
      }

      &:nth-child(1) {
        color: #0b8235;
        width: 15%;
      }

      &:nth-child(4) {
        color: #008dff
      }
    }
  }
}