@import "rest";
@import "highlight";
@import "docs";
@import "index";

html,
body,
#app {
  height: 100%;
  background-color: #fafafa;
}

.logo-img {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 15;
  width: 130px;
  height: 36px;
  background: url('../assets/logo.png') no-repeat;
  background-size: contain;

  &::after {
    content: "RelaxPlus";
    position: absolute;
    left: 40px;
    top: 0;
    line-height: 36px;
    font-size: 36px;
    color: #333;
    font-family: "calibre bold";
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col(@index, @type, @num) when (@index > 0) {
  .col(@index - 1, @type, @num);

  .col-@{type}-@{index} {
      grid-column: span @index;
  }
}


@media (min-width: 576px) {
  .col(12, xs, 12);
}

@media (min-width: 768px) {
  .col(12, md, 12);
}


.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding-left: 225px;

  .sidebar-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 225px;
    padding-top: 70px;
    background: #FFF;

    .menu{
      padding: 0 20px;
      a{
        font-size: 14px;
        display: block;
        color: #333;
        padding: 8px 10px;
        margin: 4px 0;
      }
      a:hover{
        background-color: #eee;
      }
      dl{
        dt{
          color: #999;
          padding: 8px 10px;
          padding-bottom: 8px;
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
}

.content-page {
  min-height: 100vh;
  flex: 1;
  overflow: auto;
  padding: 35px;
  padding-right: 160px;
}

.h2-nav{
  position: fixed;
  right: 20px;
  top: 60px;
  width: 105px;
  padding-left: 15px;
  padding-bottom: 30px;
  border-left: 1px solid #eee;
  color: #999;

  .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 7px;
    left: -3px;
    background-color: #f9bc0b;
    transition: transform .4s ease;
    
    &::after{
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background-color: #f9bc0b;
      border-radius: 50%;
      animation: pulseDot 2.5s cubic-bezier(.47, -.2, .13, 1.35) infinite;
    }
  }

  @keyframes pulseDot {
    0% {
      transform: scale(1);
      opacity: 0.48;
    }

    100% {
      transform: scale(5);
      opacity: 0;
    }
  }

  .item{
    cursor: pointer;
    margin-bottom: 10px;
    transition: color .4s ease;

    &.active{
      color: #f9bc0b;
    }
  }
}



.components-badge-demo .x-badge{
  margin-right: 30px;
  margin-bottom: 12px;
}

.components-select-demo .x-select {
  margin-right: 8px;
  margin-bottom: 12px;
}


.relax-document {
  .document-title {
    font-size: 16px;
    margin-bottom: 6px;
    color: #666;
    margin-bottom: 20px;

    h4 {
      font-weight: normal;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    &.document-api {
      margin-bottom: 20px;
    }

    thead {
      th {
        background-color: #e5eaee;
        padding: 10px;
        color: #666;
        border-bottom: 2px solid #dae1e6
      }
    }

    td {
      padding: 10px;
      background: #FFF;
      border-bottom: 1px solid #e5eaee;


      &:nth-child(3) {
        color: #f81d22;
        width: 15%;
      }

      &:nth-child(1) {
        color: #0b8235;
        width: 15%;
      }

      &:nth-child(4) {
        color: #008dff
      }
    }
  }
}
